.product {
    background-color: $txt-white;
    flex-direction: row;
    @include flex(flex-start, flex-start);
    @include mobile {
        flex-direction: column;
    }
    &__content {
        flex-grow: 1;
        @include tablet {
            width: 100%;
        }
    }
    &__filter__toggle {
        display: none;
        @include tablet {
            display: block;
            margin-bottom: 2rem;
        }
    }
}