.productCard {
    text-align: center;
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ececec;
    padding: 15px;
    // &__image {
    //     // // position: absolute;
    //     // top: 0;
    //     // // left: 50%;
    //     // // transform: translateX(-50%);
    //     height: 100%;
    // }
    &__name {
        // margin-bottom: 10px;
        color: $main-color;
    }
    &__price {
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 2rem;
        pointer-events: none;
        color: $txt-main-color;
    }
    &__btn {
        @include tablet {
            display: none;
        }
    }
}